# Python
*.pyc
*~
__pyacache__


#Env
.env
myvenv/
venv/


#Database
db.sqlite3

#Static Folder at project root
/static/

# macos
._*
.DS_Store
.fseventsd
.Spotlight-V100


# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

#Visual Studio 
.vscode/
.history/
*.code-workspace

